.contenedur{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedur__conten{

    margin-top: 5rem ;
    height: 700px;
    width: 800px;
    background-color:  #6AD39120;
    background-color: var(--blanco);
    border-radius: 0.5rem;
    border: 1px;
    border-style:groove;
    border-color: #8da079;
    display: flex;
    box-shadow: 5px 5px gray ;
    justify-content: center;
    align-items:center;
    
}
.contenedur__conten2{

    margin-top: 5rem ;
    height: 800px;
    width: 800px;
    background-color:  #6AD39120;
    background-color: var(--blanco);
    border-radius: 0.5rem;
    border: 1px;
    border-style:groove;
    border-color: #8da079;
    display: flex;
    box-shadow: 5px 5px gray ;
    justify-content: center;
    align-items:center;
    
}
.row{
    width: 60%;
    
}
.row form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1.5rem;
}
.titulo-contact{
    margin-top: 0;
    margin-bottom: 5.5rem;
}
.contact-input{
    height: 3.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
}
.label-contact{
    color: var(--tercero);
    font-weight: bold;
    
}
.text-contact{
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
}
.contact-boton{
    color: #fff;
    margin-top: 1rem;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    height: 3.2rem;
    border-radius: 0.5rem;
}
.text-sugerencia{
    line-height: 2.5rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 500px ) {
    .contenedur__conten2{
        height: 900px;
        width: 95%;
    }
    .row{
        width: 75%;
    }
    .contenedur__conten{
        width: 95%;
    }
}