.logo{
 color: var(--blanco);
 margin-left: 2rem;
 
}
.logo__nombre{
    font-weight: 500;

}
.logo__bold{
   font-weight: 900;
}



.menu{
    height: 8.5rem;
    background-color: var(--tercero);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secundario);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 20);
    
    
}   

.menu_items{
    display: flex;
    list-style: none;
    margin-right: 2rem;
    }
  

.menu_items li a{
    padding: 1.5rem;
    text-decoration: none;
    color: var(--blanco);
    display: block;
    border-radius: 3px;
    margin: 0 5px;
    
    
}
.menu_items li a:hover, li:active{
    background-color: rgba(0, 0, 0, .4);
    transition: .5s;
    
}
.btn_menu{
    margin-right: 3rem;
    font-size: 30px;
    color: var(--blanco);
    cursor: pointer;
    display: none;
    
}

ul.show{
    top: 65px;
}


@media screen and (max-width: 854px) {
    .menu{
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;

    }
    .menu_items{
        position: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        z-index: 1;
        
    }
    .menu_items li {
        
        line-height: 30px;
        position: relative;
    }
    .menu_items li a{
        background-color: none;
        margin-right: 1.6rem;
        font-size: 1.8rem;
        color: var(--blanco);
        font-weight: bold;
    }
    .menu_items li :hover, li:active{
        background-color: rgba(0, 0, 0, .9);
        transition: .5s;
        color: var(--primario);
    }
    .logo__bold{
        font-size: 3.2rem;
    }
    .logo__nombre{
        font-size: 3.2rem;
    }
    
}
@media screen and (max-width: 854px) and (orientation: landscape) {
    .menu_items li a{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100 - 65px);
    }
    
}

.barra2{
    height: 6rem;
    background-color: #6AD39120;
    position: relative;
    border-bottom: 2px solid #8da079;
    
}
.buscador2{
    display: flex;
    justify-content: right;
    position: absolute;
    left: 30rem;
    top: 1rem;
    
    
}

.input2{
    display: flex;
    justify-content: center;
    align-items: center;
}

    
.input__text2{
    border-radius: 10px 0px 0px 10px;
    display: block;
    width: 600px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
    border-style:groove;
    border-color: #d4d4d4;
    
   
}

@media screen and (max-width: 768px ) {
    .input__text2{
        width: 280px;
    }
    .buscador2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .barra2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
    /**margin-left: 1rem;
    height: 3.5rem;
    
    border-style:groove;
    border-width: .2rem;
    border-radius: 8px 0 0 8px;
    
    background-color: var(--blanco);
    outline: none;
    padding: 0 18px;    
}**/

  .input__boton2 {
    height: 4.3rem;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.3rem;
    outline: none;
    background-color: var(--tercero);
    color: var(--blanco);
    border-radius: 0 10px 10px 0;
    outline: none;


}

.input__boton2:hover{
    background-color: rgba(0, 0, 0, .4);
    color: var(--blanco);

}
@media screen and (max-width: 768px) {
    .buscador2{
        right: 6rem;
        left: 4rem;
    }
}
@media screen and (max-width: 375px) {
    
    .input__text2{
        width: 230px;
    }
    .buscador2{
        right: 1rem;
        left: 1rem;
    }
}




